.weather-widget {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  border-radius: 35px;
  padding: 20px;
  background: linear-gradient(to bottom, #0e1c26, #2a454b, #294861);
  color: white;
  box-shadow: 0 4px 8px rgba(0,0,0,0.5);
}

.moon {
    fill:white;
    filter:drop-shadow(0 0 20px rgba(252,252,252,0.8));
    width:80px;
    height:80px;
}

@keyframes moveCloud {
  0%, 
  100%{
      transform: translateX(-65px);
  }
  50% {
      transform: translateX(65px);
  }
}

.cloud {
    fill:lightblue;
    filter:drop-shadow(0 0 20px rgba(173,216,230,0.8));
    width:80px;
    height:80px;
    animation: moveCloud 8s ease-in-out infinite;
}

.cloud-container {
    position: absolute;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);
}

.temperature {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 25px;
}

.feels-like {
    font-size: 1rem;
    margin-bottom: 20px;
}

.location {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 5px;
}
