.App{
    user-select: none;
    margin: 0;
}

.Content{
    display: flex;
}

.Widget-Menu{
    width: 150px;
    height: 100px;
    overflow-y: auto;

    border: 1px solid black;
}

table {
    border-collapse: collapse;
}

td {
    position: relative;

    width: 50px;
    height: 50px;

    font-size: small;
    text-align: center;

    margin: 0;
    border: 1px solid black;
}

td:hover {
    background-color: blue;
}