*{
  font-family: 'Inconsolata'; /* This must be a monospace font!!! */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);

  width: 100vw;
  height: 100vh;
}