:root {
  --night: #121216;
  --dusk: #2f2f36;
  --blood: #880808;
  --grey: #666465;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: grid;
  grid-template-columns: repeat(16, 1fr);
  grid-template-rows: repeat(9, 1fr);

  width: 100vw;
  height: 100vh;
}